.about {
    display: flex;
    height: 320px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    color: gold;
}

h2 {
    margin-bottom: 20px;
}

#about-text-box {
    border: 2px solid gold;

}

@media only screen and (min-width: 600px) {
    .about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: large;
        flex-direction: column;
        margin-top: 100px;
        color: gold;
    }

    #about-text-box {
        text-align: center;
        border: none;
        width: 50vw;
    }
}