.about {
    display: flex;
    height: 60svh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 42vh;
}

#about-text-box {
    position: relative;
    top: 30vh;
    border: none;
}


#tech-stacks {
    position: relative;
    top: 40vh;
    padding-bottom: 5vh;
}

@media only screen and (min-width: 600px) {
    .about {
        display: flex;
        position: relative;
        top: 10vh;
        height: 65vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: 0vw;
        margin-block: 0svh;
    }

    h2 {
        margin-bottom: 10px;
    }

    #about-text-box {
        position: initial;
        border: none;
        width: 55vw;
    }

    #tech-stacks {
        position: initial;
        margin-left: 20vw;
    }

}