.about {
    display: flex;
    height: 60svh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 25svh;
    text-align: center;


}

h2 {
    margin-bottom: 20px;
    background-color: rgb(220, 222, 221);
}


@media only screen and (min-width: 600px) {
    .about {
        display: flex;
        position: relative;
        top: 10vh;
        height: 65vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0vw;
        margin-block: 0svh;
        background-color: rgb(36, 36, 36);
    }

    h2 {
        background-color: rgb(27, 27, 27);
        margin-bottom: 20;
    }

    #about-text-box {
        position: relative;
        top: 10vh;
        text-align: center;
        border: none;
        width: 50vw;
        background-color: rgb(27, 27, 27);
        border: 5px solid rgb(27, 27, 27);
        margin-right: 500px;
    }

    #tech-stacks {
        position: relative;
        bottom: 50vh;
        left: 15vw;


        background-color: rgb(27, 27, 27);
        border: 5px solid rgb(27, 27, 27);
    }
}