@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.logo {
    color: black;
    font-size: 150%;
    margin-left: 13vw;
    background-color: whitesmoke;
}

.project {
    color: #e1ddea;
}

.project:hover {
    color: #f1f1f1;
    font-size: xx-large;
}

div {
    height: 3vh;
}

a {
    text-decoration: none;
    font-size: 180%;
    background-color: transparent;
    color: black;
}

.nav-item {
    margin-inline: 10px;
    background-color: transparent;
}

header {
    position: sticky;
    z-index: 30;
    top: 0;
}

nav {
    display: flex;
    height: 10vh;
    padding: 10px;
    width: 110vw;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    z-index: 300;
}

.nav__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 22vw;
    position: fixed;
    top: 12vh;
    width: 60vw;


    font-size: 75%;
    font-weight: bold;
    height: 3vh;
    background-color: transparent;
}

.nav__link {
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
    margin-inline: 20px;
}

.nav__link:hover {
    font-weight: bold;
}

.center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .logo {
        color: black;
        font-size: 150%;
        margin-left: 0vw;
        background-color: whitesmoke;
    }

    nav {
        width: 100%;
    }

    .nav__menu-bar {
        display: none;
    }

    .nav__menu-list {
        position: unset;
        flex-direction: row;
        min-height: fit-content;
        width: fit-content;
        column-gap: 24px;
        align-items: center;
        text-shadow: black;
    }

    .nav__link::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 6px;
        bottom: -16px;
        left: 0;
        transition: all 0.2s;
    }

    .nav__link:hover:before {
        width: 100%;
    }
}