main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.project-type {}

#coding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-inline: 2vw;

    width: 100vw;
}


#game-development {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    width: 100vw;
    margin-block: 10vh;

}

h3 {
    padding-bottom: 2vh;
}

.project-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 120%;
    margin-top: 5vh;
    padding: 5px;
    backdrop-filter: blur(4px);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


    .project-type {
        position: fixed;
        top: 22vh;
    }

    #coding {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-inline: 2vw;

        width: 40vw;
    }


    #game-development {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 40vw;
        margin-inline: 2vw;
        margin-block: 0vh;


    }

    h3 {
        padding-bottom: 2vh;
    }

    .project-text {
        display: flex;
        align-items: center;
        flex-direction: column;

        font-size: 120%;
        margin-top: 10vh;
        padding: 5px;
        /* background: linear-gradient(-45deg, #000000, #1d1d1d, #3e3e3e, #565656);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; */
        background-color: rgb(27, 25, 27);
        border: 3px solid rgb(57, 53, 61);
    }


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

}