main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-type {
    position: fixed;
    top: 20vh;
}

#coding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: static;
    margin-inline: 2vw;

    width: 40vw;
}


#game-development {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: static;

    width: 40vw;
    margin-inline: 2vw;

}

h3 {
    padding-bottom: 2vh;
}

.project-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 120%;
    margin-top: 10vh;
    padding: 5px;
    backdrop-filter: blur(4px);
    height: 40vh;
}